<%= form_for :reviewer, url: reviewer_path(@reviewer), method: :patch do |f| %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
 
<%= link_to 'Back', reviewers_path %>
