
<h1>REVIEWER DATABASE</h1>

<table>
	<tr>
		<td>REVIEWER</td>
		<td>COMPANY</td>
		<td>ROLE</td>
		<td>START YEAR</td>
		<td>END YEAR</td>
	</tr>
	<% @reviewers.each do |currentreviewer| %>
	<tr>
		<td><%= link_to currentreviewer.name, reviewer_path(currentreviewer.id) %></td>
		<% @jobs.each do |job| %>
			<tr>
			<% if job.reviewer != nil && job.reviewer == currentreviewer %>
			<td></td>
			<td><%= job.company %></td>
			<td><%= job.role %></td>
			<td><%= job.startyear %></td>
			<td><%= job.endyear %></td>
				<%if reviewer_signed_in? %>
					<% if job.reviewer.id == current_reviewer.id %>
						<td><%= link_to 'Edit', edit_job_path(job) %></td>
						<td><%= link_to 'Delete', job_path(job), method: :delete, data: {confirm: 'Are you sure?'} %></td>
					<% end %>
				<% end %>
			<% end %>
			</tr>
		<% end %>
	</tr>
	<%end%>
</table>
