<div class="error-msg">
	<% if @job.errors.any? %>
	<ul>
		<% @job.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
	<% end %>
</div>

<%= form_for(@job) do |f| %>

	<div class="field">
		<p>company</p>
		<%= f.text_field :company%>
	</div>

	<div class="field">
		<p>role</p>
		<%= f.text_field :role%>
	</div>

	<div class="field">
		<p>start year</p>
		<%= f.number_field :startyear%>
	</div>

	<div class="field">
		<p>end year</p>
		<%= f.number_field :endyear%>
	</div>

	<div class="field">
		<%= f.hidden_field :reviewer_id, :value => current_reviewer.id %>
	</div>

	<div class="actions">
		<%= f.submit %>
	</div>

<% end %>

